* {
    margin: 0;
    font-family: font-family: 'Roboto', sans-serif;
}
.grid {
    display: flex;
    flex-direction: column;
    width:100%
}
nav {
    display: flex;
    align-items: center;
}
#header img {
    width: 5.2rem;
}
.nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
    color: black;
}
p,
h1,
h2,
h3,
h4,
h5,
ul {
    line-height: 1.7;
    padding: 0 1rem;
}
.main-img {
    width: 100%;
    margin-top: -1rem;
}
#video {
    width: 90%;
    height: auto;
}