* {
    margin: 0;
    font-family:'Roboto', sans-serif;
}
.grid {
    display: flex;
    flex-direction: column;
    width:100%
}
nav {
    display: flex;
    align-items: center;
}
#header img {
    width: 5.2rem;
}
.nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
    color: black;
}
p,
h1,
h2,
h3,
h4,
h5,
ul {
    line-height: 1.7;
    padding: 0 1rem;
}
.main-img {
    max-width: 100%;
    margin-top: -1rem;
}
form {
    text-align: center;
    margin: .6rem;
}
#submit {
    padding: .4rem;
}
input[type=email] {
    display: inline-block;
    padding: .7rem 2rem;
    margin: 0;
    z-index: 2;
    width: 50%;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
}
section h2 {
    text-align: center
}
.wrapper {
    display: flex;
    justify-content: center;
}
.more-info h3 {
    font-size: 1.9rem;
    padding: 0;
    text-align: center;
}
.more-info {
    background-color: #F5F5F5;
    margin: 1rem 0;
    padding: 1.5rem 2rem;
}
div.info-blurb {
    margin: 2rem 0;
}
#info-blurb-img {
    width: 7rem;
    padding: 0 1rem;
}
.video h5 {
    text-align: center;
    font-size: 2rem;
}
section.video{
    margin: 0 auto;
    padding-bottom: 2rem;
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.product-cards {
    border: 1px solid rgb(167, 165, 165);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 6px -6px #777;
}
.product-cards:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 150ms ease;
}
.product-cards header {
    text-align: center;
    font-size: 2rem;
}
.product-cards ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem;
}
.product-btn {
    width: 100%;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    border-radius: 8px;

}

button:hover,
button:focus {
    background: #373a3d;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 3rem;
}
footer img {
    width: 60px
}
